<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.jackpark.stock-observatory</string>
  <key>WorkingDirectory</key>
  <string>__WORKDIR__</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PNPM__</string>
    <string>start</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>NODE_ENV</key>
    <string>production</string>
    <key>PATH</key>
    <string>__NODE_BIN__:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>StandardOutPath</key>
  <string>__WORKDIR__/logs/observatory.out.log</string>
  <key>StandardErrorPath</key>
  <string>__WORKDIR__/logs/observatory.err.log</string>
</dict>
</plist>
